@import url(../section-title/section-title.css);
@import url(../section-subtitle/section-subtitle.css);
@import url(../table/table.css);
@import url(./triangle/kaufman__triangle.css);
@import url(../../rotation/rotation.css);

.kaufman{
    box-sizing: border-box;
    padding-top: 90px;
    padding-bottom: 90px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f1f1f;
  }
  
