@import url(./item/cards__item.css);
@import url(./image/cards__image.css);
@import url(./title/cards__title.css);
@import url(./description/cards__description.css);

.cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 0;
    list-style: none;
    width: 920px;
    position: relative;
  }