@import url(./cell/table__cell.css);
@import url(./heading/table__heading.css);
@import url(./text/table__text.css);
@import url(./_theme/table_theme_dark.css);

.table {
    margin: 0 auto;
    padding-left: 0;
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
  }