@import url(./columns/footer__columns.css);
@import url(./column/_content/footer__column_content_copyright.css);
@import url(../logo/_place/logo_place_footer.css);
@import url(./author/footer__author.css);
@import url(./column/_content/footer__column_content_about.css);
@import url(./column/_content/footer__column_content_social.css);
@import url(./column-heading/footer__column-heading.css);
@import url(./column-link/footer__column-link.css);
@import url(./list/footer__list.css);
@import url(./social-icons/footer__social-icons.css);


.footer{
    box-sizing: border-box;
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #1f1f1f;
    color: white;
    min-height: 350px;
    display: flex;
    justify-content: center;
  }
  