@import url(../section-title/section-title.css);
@import url(../section-subtitle/section-subtitle.css);
@import url(./cards/cards.css);

.techniques {
    padding-top: 100px;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }