@import url(./brief/two-columns__brief.css);
@import url(./main-text/two-columns__main-text.css);
@import url(./paragraph/two-columns__paragraph.css);
@import url(./span-accent/two-columns__span-accent.css);

.two-columns{
    width: 80%;
    min-height: auto;
    display: flex;
    justify-content: space-between;
  }