.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/*header style: */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  position: relative;
}

/*this style is uniqe to the header logo*/

.logo_place_header {
  position: absolute;
    top: 30px;
    left: 64px;
  z-index: 1;
  height: 31px;
  width: 154px;
}

/*this style is common with the footer logo*/

.logo {
  z-index: 1;
}

/*header texts style*/

.header__title {
  max-width: 730px;
  margin: 0 0 0 64px;
  z-index: 2;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

.header__subtitle {
  margin: 0;
  position: absolute;
    bottom: 30px;
    left: 64px;
  z-index: 2;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link{
  color: #2f80ed;
  text-decoration: none;
  z-index: 2;
}

/*header pics style*/

.header__main-illustration {
  position: absolute;
    bottom: 0;
    right: 0;
  width: 756px;
  height: 608px;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
    top: 64px;
    right: 0;
  z-index: 0;
}

/*first section style: */

.description {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

/*dividing the text to two columns*/

.two-columns{
  width: 80%;
  min-height: auto;
  display: flex;
  justify-content: space-between;
}

/*the left side text style*/

.two-columns__brief{
  width: 175px;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

/*right side block style*/

.two-columns__main-text{
  width: 80%;
  min-width: 784px;
}

/*right side text style*/

.two-columns__paragraph{
  margin-bottom: 30px;
  margin-top: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:last-child{
  margin-bottom: 0;
}

/*the bold text style*/

.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

/*second section style*/

.digits{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-title{
  width: 60%;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin: 0 0 20px 0;
}

.section-subtitle{
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: 0;
}

/*the two element's lines style*/

.table {
  margin: 0 auto;
  padding-left: 0;
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.table__cell{
  margin-top: 60px;
  width: 250px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.table__heading{
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  text-align: start;
}

.table__text{
  margin: 20px 0 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/*third section style*/

.feynman{
  padding-top: 100px;
  min-height: 790px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
}

.feynman__image{
  position: absolute;
    bottom: 0;
    left: 0;
  width: 867px;
  height: 637px;
}

.feynman__title{
  width: 775px;
  text-align: center;
  margin-bottom: 70px;
  margin-top: 0;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  z-index: 1;
}

.feynman__subtitle{
  text-align: center;
  margin: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
}

.feynman__link{
  position: absolute;
    top: 50%;
    right: 48px;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
}

/*fourth section style: */

.kaufman{
  padding-top: 90px;
  padding-bottom: 90px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
}

.kaufman__triangle{
  position: absolute;
    top: 0;
    right: -124px;
  width: 636px;
  height: 660px;
  color: #2f80ed;
  z-index: 0;
}

/*this section uses the digit's section "table" block styles.
thees are modifiers for this section: */

.section-title_theme_dark{
  color: white;
  z-index: 1;
}

.section-subtitle_theme_dark{
  color: white;
  z-index: 1;
}

.table_theme_dark{
  align-items: flex-start;
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-top: 80px;
  text-align: left;
  z-index: 1;
}

.table__heading_theme_dark{
  z-index: 1;
}

.table__text_theme_dark{
  z-index: 1;
}

/*footer style*/

.footer{
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #1f1f1f;
  color: white;
  min-height: 350px;
  display: flex;
  justify-content: center;
}

/*the footer divided into 3 columns*/

.footer__columns{
  width: 90%;
  display: flex;
  justify-content: space-between;
}

/*left column style*/

.footer__column_content_copyright {
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
}
 /*modifier for the footer logo*/
.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

/*middle and left column's title style*/

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 20px 0;
}

/*middle column style*/

.footer__column_content_about {
  align-self: stretch;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*left column style*/

.footer__column_content_social {
 list-style: none;
 padding: 0;
}

.footer__social-icons {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

/*middle and left links style*/

.footer__column-link{
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
}
